:root {
    background-color: rgb(40, 40, 43);
    font-size: x-large;
}
h1 {
    margin-bottom: 2rem;
    color: rgb(175, 225, 175);
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    width: 95vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
